*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.375rem;
    color: #333333;
    background: rgb(248,197,141);
    background: linear-gradient(0deg, rgba(248,197,141,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(248,197,141,1) 100%);
} 

header{
    background: rgb(172,172,170);
    background: linear-gradient(0deg, rgba(172,172,170,1) 6%, rgba(172,172,170,1) 12%, rgba(238,238,234,1) 42%);
}

.logo-nav{
    width: 12rem;
}

nav{
    background: rgb(172,172,170);
    background: linear-gradient(0deg, rgba(172,172,170,1) 6%, rgba(172,172,170,1) 12%, rgba(238,238,234,1) 42%);
}

.nav-item{
    font-weight: bold;
}

.nav-link{
    color: #e4262f;
}


@media only screen and (max-width:600px){
    .banner-div{
        width: 100%;
        display: flex;
        justify-content: center; 
    }
    .banner-div h2{
        display: flex;
    }
}

.banner-div h2{
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    color: #e4262f;
    text-shadow: #333333;
    text-align: center;
    padding: 3%;
}

.nuestra-comp{
    padding: 20px;
}

.nuestra-comp h2{
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}

.nuestra-comp p{
    letter-spacing: 1px;
    text-align: center;
}

.img-nucomp{
    width: 100%;
    display: flex;
    padding: 5%;
}

.apoyo-kiosco{
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 30%;
}

.apoyo-kiosco h2{
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}

.apoyo-kiosco p{
    letter-spacing: 1px;
    text-align: center;  
}

.video-kiosco{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-bottom: 200px;
}

.logo-footer{
    width: 15rem;
    float: left;
    padding: 2rem;
}

.logo-twitter{
    width: 4rem;
    float: right;
    margin-top: 15px;  
}

.logo-insta{
    width: 4rem;
    float: right;
    margin-top: 13px;
}

footer{
    margin-top: 10%;
    background-color: #822723;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    z-index: 1;
}
  
/* colores
.color1 { #e4262f }; rojo
.color2 { #f8c58d }; crema
.color3 { #822723 }; bordo
.color4 { #ad7a56 }; marron claro
.color5 { #dcd5bc }; gris  */ 